body {
  background: #3da3d5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

.title {
  font-size: 3em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.idButton {
  background-color: #58f;
}

.idButton:hover {
  background-color: #58f;
}


.bulletinbutton {
  background-color:  #ff5733
;
}

.bulletinbutton:hover {
  background-color:  #ff5733;
}


.expertButton {
  background-color: #f9c74f;
}

.expertButton:hover {
  background-color: #f3bc3c;
}


.socialbutton {
  background-color:#18b05a;
}

.socialbutton:hover {
  background-color:#18b05a;
}

.japbutton {
  background-color: #cd69d1 ;
}

.japbutton:hover {
  background-color: #cd69d1 ;
}

.spipbutton {
  background-color:#db626c;
}

.spipbutton:hover {
  background-color:#db626c;
}






@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
